<section class="w-full">
  <div class="flex w-full items-center justify-between">
    <h1 class="text-2xl">
      <%= title %>
    </h1>
  </div>

  <form>
    <div class="flex mt-4 items-center justify-between gap-2 md:mt-8">
      <div class="bg-gray-100 relative flex flex-1 flex-shrink-0">
        <label for="search" class="input input-bordered flex items-center gap-2 w-full">
          <i class="fa-solid fa-magnifiying-glass"></i>
          <input type="text" id="search" name="search" class="grow" placeholder="Search Customers...">
        </label>
      </div>

      <a href="customers/create" class="btn btn-primary">
        <i class="fa-solid fa-plus fa-lg mr-2"></i>
        New Customer
      </a>
    </div>
  </form>

  <div class="mt-6 overflow-x-auto bg-white rounded-lg p-2">
    <table class="table ">
      <thead>
        <th class="text-gray-700">Name</th>
        <th class="text-gray-700">Email</th>
        <th class="text-gray-700">Address</th>
        <th class="text-gray-700">Phone</th>
        <th class="text-gray-700"></th>
      </thead>
      <tbody>
        <% customers.forEach(function(customer) { %>
        <tr>
          <td class="text-gray-700"><%= customer.name %></td>
          <td class="text-gray-700"><%= customer.email %></td>
          <td class="text-gray-700"><%= customer.address %></td>
          <td class="text-gray-700"><%= customer.phone %></td>
          <td class="text-gray-700">
            <div class="flex items-center justify-end gap-3">
              <a href="customers/<%= customer._id%>/edit">
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </a>

              <button class="rounded-md border p-2 hover:bg-gray-100" onclick="deleteModal('<%= customer._id %>')">
                <span class="sr-only">Delete</span>
                <i class="fa-solid fa-trash fa-lg text-red-500"></i>
              </button>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>

<dialog id="delete-modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Are you sure?</h3>
    <p class="py-4">All invoices related to the customer will be deleted</p>
    <div class="modal-action">
      <form id="delete-form" method="post">
        <button class="btn btn-danger">Yes</button>
      </form>

      <form method="dialog">
        <button class="btn">Cancel</button>
      </form>
    </div>
  </div>
</dialog>

<script>
  function deleteModal(customerId) {
    const modal = document.querySelector('#delete-modal');
    const deleteForm = document.querySelector("#delete-form")
    deleteForm.setAttribute('action', `customers/${customerId}/delete`)
    modal.showModal();
  }
</script>